<!DOCTYPE html>
<html>
<head>
	<title>My first website!</title>
	<link rel="stylesheet" type="text/css" href="style2.css">
</head>
<body>
	<header>
		<nav>
			<ul>
				<%= link_to 'Home', root_path %>
				<%= link_to 'About', about_path %>
				<li>Login</li>
			</ul>
		</nav>
	</header>
	<section>
		<h2>Login</h2>
		<p>Introduction</p>
	    <p>
	    	<span>Lorem ipsum</span> dolor sit amet
	    </p>
	</section>
</body>
</html>