@import "bootstrap";

#logo {
	float: left;
	font-size: 1.7em;
	color: #a442f4;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover {
	color: #a442f4;
	text-decoration: none;
}

.center {
	text-align: center;
}

.jumbotron {
	background-image: asset-url('cover_page.jpeg');
	background-size: cover;
	height: 750px;
}

.jumbotron h1{
	color: #a442f4;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 5em;
}

.btn-xlarge {
	font-size: 1.7em;
	background-color: #a442f4;
}

.article-meta-details {
	border-top: 1px solid #eaeaea;
	margin-top: 15px;
}

.article-actions {
	border-top: 1px solid #eaeaea;
	padding-top: 5px;
}

.description {
	margin-top: 5px;
}

.article-title {
	font-weight: bold;
	font-size: 1.5em;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;

}

.article-body {
	border-top: 1px solid #eaeaea;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;

}

.article-actions {
		padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
}

.footer {
	margin-top: 50px;
	padding-top: 5px;
	border-top: 1px solid #a442f4;
	color: #777;
}

.footer a:hover {
	color: #222;
}

.footer small {
	float: left;
}

.footer ul {
	float: right;
	list-style: none;
}

.footer li {
	float: left;
	margin-left: 15px;
}